<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增开奖记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-DrawRecord-add">
            <div class="form-group row">    
                <div class="control-label">房间玩法ID：</div>
                <div class="">
                    <input name="roomConfigId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">房间：</div>
                <div class="">
                    <input name="roomName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">期号：</div>
                <div class="">
                    <input name="periodNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">结果：</div>
                <div class="">
                    <input name="result" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">理论开盘时间：</div>
                <div class="">
                    <div class="input-group date">
                        <input name="expectOpenTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">实际开盘时间：</div>
                <div class="">
                    <div class="input-group date">
                        <input name="actualOpenTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">差秒：</div>
                <div class="">
                    <input name="diffSecond" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">状态(0自动开奖 1手动开奖)：</div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-secondary" th:each="dict : ${@dict.getType('lottery_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}"> <span th:text="${dict.dictLabel}"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label">备注：</div>
                <div class="">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/DrawRecord"
        $("#form-DrawRecord-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-DrawRecord-add').serialize());
            }
        }

        $("input[name='expectOpenTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='actualOpenTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>