<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增游戏类型封面')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-GameCover-add">
            <div class="form-group row">
                <div class="control-label">游戏类型：</div>
                <div class="">
                    <input name="type" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label">封面图：</div>
                <div class="">
                    <input type="hidden" name="coverImagesId">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="coverImagesId" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">游戏提示一：</div>
                <div class="">
                    <input name="tips1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">游戏提示二：</div>
                <div class="">
                    <input name="tips2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">游戏介绍：</div>
                <div class="">
                    <input type="hidden" class="form-control" name="introduce">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal_introduce">编辑</button>
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">排序：</div>
                <div class="">
                    <input name="sort" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label">备注：</div>
                <div class="">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="modal inmodal fade" id="myModal_introduce" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="margin:0 auto;">
                    <h4 class="modal-title">游戏介绍</h4>
                </div>
                <div class="modal-body">
                    <div class="summernote" id="introduce"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/GameCover"
        $("#form-GameCover-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-GameCover-add').serialize());
            }
        }

        $(".file-upload").fileinput({
            uploadUrl: ctx + 'business/images/imageUpload',
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                dialogsInBody: true,
                height: 500,
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
    </script>
</body>
</html>