<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增会员等级管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-VipGrade-add">
            <div class="form-group row">    
                <div class="control-label">流水金额：</div>
                <div class="">
                    <input name="amount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">等级：</div>
                <div class="">
                    <input name="grade" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label">备注：</div>
                <div class="">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "business/VipGrade"
        $("#form-VipGrade-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-VipGrade-add').serialize());
            }
        }
    </script>
</body>
</html>