<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改会员等级')" />
</head>
<body class="white-bg">
    <div class="row col-sm-6">
        <form class="form-horizontal m col-sm-12" id="form-VipGrade-edit" >
            <div class="form-group col-sm-12">
                <h1 class="h4 font-weight-bold text-dark">规则设置</h1>
            </div>
            <table class="col-sm-12">
                <tr class="col-sm-12" >
                    <td class="col-sm-6">流水金额（元）</td><td class="col-sm-6">等级</td>
                </tr>
                <tr th:each="obj,loopStatus : ${list}">
                    <td>
                        <input th:name="'list['+${loopStatus.count-1}+'].id'" th:value="${obj.id}" type="hidden">
                        <input th:name="'list['+${loopStatus.count-1}+'].tenantId'" th:value="${obj.tenantId}" type="hidden">

                        <div class="input-group m-b"><span class="input-group-addon">&yen;</span>
                            <input th:name="'list['+${loopStatus.count-1}+'].amount'" th:value="${obj.amount}" class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group m-b">
                            <input th:name="'list['+${loopStatus.count-1}+'].grade'" th:value="${obj.grade}" class="form-control" type="number">
                        </div>
                    </td>
                </tr>
            </table>

            <div class="form-group col-sm-12">
                <h1 class="h4 font-weight-bold text-dark">等级设定</h1>
            </div>
            <div class="form-group row col-sm-12">
                <textarea id="vipGradeDesc" name="vipGradeDesc" style="width: 100%;" rows="5" class="form-control">[[${vipGradeDesc}]]</textarea>
            </div>

            <div class="form-group row col-sm-12">
                <button type="button" class="btn btn-primary btn-sm" onclick="submitHandler()">确定修改设置</button>
            </div>
        </form>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "business/VipGrade";
        $("#form-VipGrade-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.saveModal(prefix + "/edit", $('#form-VipGrade-edit').serialize());
            }
        }
    </script>
</body>
</html>