<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增转盘管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-TurntableRule-add">
            <div class="form-group row">    
                <div class="control-label">红包金额：</div>
                <div class="">
                    <input name="amount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">    
                <div class="control-label">中奖概率(%)：</div>
                <div class="">
                    <input name="rate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label">备注：</div>
                <div class="">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>

    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "business/TurntableRule"
        $("#form-TurntableRule-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-TurntableRule-add').serialize());
            }
        }
    </script>
</body>
</html>