<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增公告')" />
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-TenantNotice-add">
            <input name="tenantId" th:value="${tenantId}" type="hidden">
            <input name="type" value="0" type="hidden">
            <div class="form-group row">
                <div class="control-label">标题：</div>
                <div class="col">
                    <input name="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="form-group row col-sm-6">
                    <div class="control-label">弹窗公告：</div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-sm btn-secondary" th:each="dict : ${@dict.getType('is_not')}">
                            <input type="radio" th:id="${'isPop_' + dict.dictCode}" name="isPop" th:value="${dict.dictValue}" th:checked="${dict.default}"> <span th:text="${dict.dictLabel}"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row col-sm-6">
                    <div class="control-label">是否首页轮播图：</div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-sm btn-secondary" th:each="dict : ${@dict.getType('is_not')}">
                            <input type="radio" th:id="${'isRotating_' + dict.dictCode}" name="isRotating" th:value="${dict.dictValue}" onchange="$(this).is(':checked')&&$(this).val()==0?$('#rotating_content').show():$('#rotating_content').hide();" th:checked="${dict.default}"> <span th:text="${dict.dictLabel}"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row col-sm-12" id="rotating_content">
                <div class="form-group row col-sm-6">
                    <div class="control-label">轮播图片：</div>
                    <div class="">
                        <input name="rotatingImagesId" type="hidden">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="rotatingImagesId" name="file" type="file">
                        </div>
                    </div>
                </div>
                <div class="form-group row col-sm-6">
                    <div class="control-label">排序：</div>
                    <div class="">
                        <input name="sort" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group row row col-sm-12">
                <div class="control-label">内容：</div>
                <div class="">
                    <input type="hidden" class="form-control" name="content">
                    <div class="summernote" id="content"></div>
                </div>
            </div>
        </form>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "business/TenantNotice"
        $("#form-TenantNotice-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-TenantNotice-add').serialize());
            }
        }

        $(".file-upload").each(function (i) {
            $(this).fileinput({
                uploadUrl: ctx + 'business/images/imageUpload',
                initialPreviewAsData: true,
                maxFileCount: 1,
                autoReplace: true
            }).on('fileuploaded', function (event, data, previewId, index) {
                $("input[name='" + event.currentTarget.id + "']").val(data.response)
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('')
            })
            $(this).fileinput('_initFileActions');
        });

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                dialogsInBody: true,
                height: 500,
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
    </script>
</body>
</html>